<div class="container">
    <div class="signup">
        <h1 class="signup-heading">Sign up</h1>
        <form action="#" class="signup-form" autocomplete="off">
        <label for="fullname" class="signup-label">Email or user</label>
        <input type="text" id="fullname" class="signup-input" placeholder="Email or username">
        <label for="password" class="signup-label">Password</label>
        <input type="password" id="email" class="signup-input" placeholder="Password">
        <button class="signup-submit">Sign up</button>
        </form>
        <button (click)="authService.loginWithGoogle()" class="signup-social">
            <i class="bi bi-google signup-social-icon"></i>
            <span class="signup-social-text">Sign up with Google</span>
        </button>
        <p class="signup-already">
            <span>Already have an account ?</span>
            <a href="#" class="signup-login-link">Login</a>
        </p>
    </div>
</div>
<!-- <button *ngIf="this.user!=null">logout</button>
<button *ngIf="this.user==null">login</button> -->
